@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333333;
  background-color: #F0E7DE;
  font-size: 16px;
}

.titleFeed{
  width: 15%;
  height: 30px;
  margin-top: 4%;
  margin-left: 20px;
  border-radius: 10px;
  padding-top: 10px;
  color: #F0E7DD;
  background-color: #EA1313;
  display: flex;
  justify-content: center;
}

.noContentFeed,
.noLastContentFeed{
  width: 100%;
  height: 150px;
  margin-top: 1.5%;
  background-color: #F09682;
  display: flex;
  justify-content: space-between;
}

.contentFeed,
.lastContentFeed{
  width: 100%;
  height: 150px;
  margin-top: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #F09682;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
}

.noDataReviewFeed{
  width: 40%;
  height: 15%;
  margin-top: 4%;
  margin-left: 30%;
  padding: 1%;
  color: #FFFFFF;
  background-color: #B92727;
  border-radius: 10px;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.noDataRestaurantFeed{
  width: 40%;
  height: 15%;
  margin-top: 4%;
  margin-left: 30%;
  padding: 1%;
  color: #FFFFFF;
  background-color: #B92727;
  border-radius: 10px;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.restaurantImageFeed {
  width: 150px;
  display: block;
}

.reviewTitleFeed{
  width:15%;
  border-radius: 80px;
}
